<div class="container">
  <div class="input_box2">
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>
    <% if @signup_errors %>
      <% @signup_errors.each do |error, message| %>
        <p class="error"><%= "#{error.capitalize} #{message.first}" %></p>
      <% end %>
    <% end %>
    <div class="dbox_title">SOTS Signup</div>
    <form action="/users" method="post">
      <input type="text" placeholder="Username" name="username" class='login_field'>
      <input type="text" placeholder="Email" name="email" class='login_field'>
      <input type="text" placeholder="Phone number" name="phone_number" class='login_field'><br><br>
      <input type="password" placeholder="Password" name="password" class='login_field'>
      <input type="password" placeholder="Verify Password" name="verify_password" class='login_field'>
      <input type="submit" value="Signup" class='abut'>
    </form>
  </div>
</div>